<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jeager Jak Games</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach(var tupl in Links)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@tupl.Item1" Match="EvaluateMatch(tupl.Item1)">
                    <span class="@tupl.Item3" aria-hidden="true"></span> @tupl.Item2
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<Tuple<string,string,string>> Links = new()
    {
        new("","HOME","oi oi-home"),
        new("counter","Counter","oi oi-plus"),
        new("about","About"," oi"),
        new("social", "Social Media", "oi"),
        new("support-us", "Support Us", "oi"),
        new("games", "Games", "oi"),
        new("game-updates", "Game Updates", "oi")
    };

    private NavLinkMatch EvaluateMatch(string index)
    {
        if (index == "") return NavLinkMatch.All;

        return NavLinkMatch.Prefix;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
